<footer class="l-footer">
  <div class="l-footer__container"></div>
</footer>
<!-- end footer -->

<!-- JS lib -->
<!-- <script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/jquery.min.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/slick.min.js"></script> -->
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/main.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/app.js"></script>
<!-- <script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/owl.carousel.js"></script> -->
<!-- <script type="text/javascript">
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      dots: false,
      items: 1,
    });
    $("#dismiss").on("click", function () {
      $("#sidebar").removeClass("active");
    });
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").addClass("active");
    });
  });
</script> -->
